<div align="center">
    <p>Email: {{ resume.email }}</p>
    <p>First name: {{ resume.first_name }}</p>
    <p>Last name: {{ resume.last_name }}</p>
    <p>Contacts: {{ resume.contacts }}</p>
    <p>Location: {{ resume.location }}</p>
    <p>Summary: {{ resume.summary }}</p>
    <p>Education: {{ resume.education }}</p>
    <p>Job history: {{ resume.job_history }}</p>
    <p>Hard skills: {{ resume.hard_skills }}</p>
    <p>Soft skills: {{ resume.soft_skills }}</p>
    <p>Languages: {{ resume.languages }}</p>
</div>