<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5 border-top">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>JetSoftPro Training Center
          </h6>
          <p class="footer-p">
            Final project by Mariana Drozd. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
{#        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">#}
{#          <!-- Links -->#}
{#          <h6 class="text-uppercase fw-bold mb-4">#}
{#            Useful links#}
{#          </h6>#}
{#          <p class="footer-p">#}
{#            <a href="/help" class="text-reset">Help</a>#}
{#          </p>#}
{#        </div>#}
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Contact
          </h6>
          <p class="footer-pp"><i class="fas fa-home me-3"></i>79000 Lviv, Ukraine</p>
          <p class="footer-pp">
            <i class="fas fa-envelope me-3"></i>
            mariasyad@gmail.com
          </p>
          <p class="footer-pp"><i class="fas fa-phone me-3"></i> +380 123 45 67</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://getbootstrap.com/">GetBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
