{% include "navbar.html" %}
{% include "head.html" %}
<h2 align="center">Change password</h2>

<div class="container mt-3">
<form action="/change-password" method="post">
    <div class="form-group mt-3 mb-3">
        <label for="new_password">New Password</label>
        <input type="password" required class="form-control" id="new_password" name="new_password" placeholder="New Password">
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Empty password
        </div>
        <div class="btn-group mg-top-sm col-sm-12" role="group" aria-label="Update password">
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </div>
</form>
</div>
{% include "footer.html" %}
