{% include "head.html" %}
{% include 'navbar.html' %}

<div class="container">
    <h1>Sign Up</h1>
    <form class="needs-validation" novalidate action="/sign-up" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" required class="form-control" id="username" name="username" placeholder="Kek">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Enter correct username!
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" required class="form-control" id="email" name="email" placeholder="test@test.com">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Enter correct value!
            </div>
        </div>
       <div class="form-group">
            <label for="password">Password</label>
            <input type="password" required class="form-control" id="password" name="password" placeholder="Kek">
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Enter correct password!
            </div>
        </div>
        <div class="btn-group mg-top-sm col-sm-12" role="group" aria-label="Create article">
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        </div>
    </form>
    <p>We will send you activation link, please check your email! Hurry up, the link expires soon! :)</p>
</div>


{% include 'footer.html' %}
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

